In [85]:
import yfinance as yf
import streamlit as st
import pandas as pd
import numpy as np

assets = ["GOOGL", "AAPL", "MSFT"]

data = yf.download(assets, start="2025-05-31", end="2025-08-01", interval="1d")

print(data)

[                       0%                       ]

[*********************100%***********************]  3 of 3 completed

Price            Close                                High              \
Ticker            AAPL       GOOGL        MSFT        AAPL       GOOGL
Date
2025-06-02  201.699997  168.825623  461.970001  202.130005  169.664603
2025-06-03  203.270004  165.979065  462.970001  203.770004  168.276287
2025-06-04  202.820007  167.846802  463.869995  206.240005  168.016594
2025-06-05  200.630005  168.006622  467.679993  204.750000  170.723320
2025-06-06  203.919998  173.469986  470.380005  205.699997  174.289002
2025-06-09  201.449997  176.089996  472.750000  206.000000  176.470001
2025-06-10  202.669998  178.600006  470.920013  204.350006  181.110001
2025-06-11  198.779999  177.350006  472.619995  204.500000  180.369995
2025-06-12  199.199997  175.699997  478.869995  199.679993  176.720001
2025-06-13  196.449997  174.669998  474.959991  200.369995  177.130005
2025-06-16  198.419998  176.770004  479.140015  198.690002  176.940002
2025-06-17  195.639999  175.949997  478.040009  198.389999  177.360001
2025-06-18  196.580002  173.320007  480.239990  197.570007  176.559998
2025-06-20  201.000000  166.639999  477.399994  201.699997  174.339996
2025-06-23  201.500000  165.190002  486.000000  202.300003  167.339996
2025-06-24  200.300003  166.770004  490.109985  203.440002  168.220001
2025-06-25  201.559998  170.679993  492.269989  203.669998  172.360001
2025-06-26  201.000000  173.539993  497.450012  202.639999  173.690002
2025-06-27  201.080002  178.529999  495.940002  203.220001  178.679993
2025-06-30  205.169998  176.229996  497.410004  207.389999  181.229996
2025-07-01  207.820007  175.839996  492.049988  210.190002  176.089996
2025-07-02  212.440002  178.639999  491.089996  213.339996  178.860001
2025-07-03  213.550003  179.529999  498.839996  214.649994  179.669998
2025-07-07  209.949997  176.789993  497.720001  216.229996  179.300003
2025-07-08  210.009995  174.360001  496.619995  211.429993  177.949997
2025-07-09  211.139999  176.619995  503.510010  211.330002  179.440002
2025-07-10  212.410004  177.619995  501.480011  213.479996  178.429993
2025-07-11  211.160004  180.190002  503.320007  212.130005  181.429993
2025-07-14  208.619995  181.559998  503.019989  210.910004  183.669998
2025-07-15  209.110001  182.000000  505.820007  211.889999  184.220001
2025-07-16  210.160004  182.970001  505.619995  212.399994  184.330002
2025-07-17  210.020004  183.580002  511.700012  211.800003  184.059998
2025-07-18  211.179993  185.059998  510.049988  211.789993  186.419998
2025-07-21  212.479996  190.100006  510.059998  215.779999  190.289993
2025-07-22  214.399994  191.339996  505.269989  214.949997  191.649994
2025-07-23  214.149994  190.229996  505.869995  215.149994  192.529999
2025-07-24  213.759995  192.169998  510.880005  215.690002  197.949997
2025-07-25  213.880005  193.179993  513.710022  215.240005  194.330002
2025-07-28  214.050003  192.580002  512.500000  214.850006  194.050003
2025-07-29  211.270004  195.750000  512.570007  214.809998  195.919998
2025-07-30  209.050003  196.529999  513.239990  212.389999  197.600006
2025-07-31  207.570007  191.899994  533.500000  209.839996  195.990005

Price                          Low                                Open  \
Ticker            MSFT        AAPL       GOOGL        MSFT        AAPL
Date
2025-06-02  462.109985  200.119995  167.187606  456.890015  200.279999
2025-06-03  464.140015  200.960007  165.080159  460.859985  201.350006
2025-06-04  465.690002  202.100006  166.158843  463.019989  202.910004
2025-06-05  469.649994  200.149994  167.387362  464.029999  203.500000
2025-06-06  473.339996  202.050003  170.623441  468.779999  203.000000
2025-06-09  473.429993  200.020004  174.369995  468.619995  204.389999
2025-06-10  472.799988  200.570007  174.910004  466.959991  200.600006
2025-06-11  475.470001  198.410004  176.750000  469.660004  203.500000
2025-06-12  480.420013  197.360001  174.750000  473.519989  199.080002
2025-06-13  479.179993  195.699997  172.389999  472.760010  199.729996
2025-06-16  480.690002  196.559998  174.649994  475.000000  197.300003
2025-06-17  478.739990  195.210007  174.580002  474.079987  197.199997
2025-06-18  481.000000  195.070007  173.199997  474.459991  195.940002
2025-06-20  483.459991  196.860001  165.460007  476.869995  198.240005
2025-06-23  487.750000  198.960007  162.000000  472.510010  201.630005
2025-06-24  491.850006  200.199997  166.130005  486.799988  202.589996
2025-06-25  494.559998  200.619995  167.550003  489.390015  201.449997
2025-06-26  498.040009  199.460007  169.940002  492.809998  201.429993
2025-06-27  499.299988  200.000000  171.729996  493.029999  201.889999
2025-06-30  500.760010  199.259995  174.580002  495.329987  202.009995
2025-07-01  498.049988  206.139999  173.529999  490.980011  206.669998
2025-07-02  493.500000  208.139999  175.070007  488.700012  208.910004
2025-07-03  500.130005  211.809998  177.050003  493.440002  212.149994
2025-07-07  498.750000  208.800003  175.679993  495.230011  212.679993
2025-07-08  498.200012  208.449997  172.809998  494.109985  210.100006
2025-07-09  506.779999  207.220001  172.770004  499.739990  209.529999
2025-07-10  504.440002  210.029999  174.380005  497.750000  210.509995
2025-07-11  505.029999  209.860001  176.479996  497.799988  210.570007
2025-07-14  503.970001  207.539993  179.679993  501.029999  209.929993
2025-07-15  508.299988  208.919998  181.600006  502.790009  209.220001
2025-07-16  506.720001  208.639999  182.029999  501.890015  210.300003
2025-07-17  513.369995  209.589996  180.479996  505.619995  210.570007
2025-07-18  514.640015  209.699997  183.710007  507.429993  210.869995
2025-07-21  512.090027  211.630005  186.149994  505.549988  212.100006
2025-07-22  511.200012  212.229996  187.460007  505.269989  213.139999
2025-07-23  506.790009  212.410004  189.179993  500.700012  215.000000
2025-07-24  513.669983  213.529999  191.000000  507.299988  213.899994
2025-07-25  518.289978  213.399994  191.259995  510.359985  214.699997
2025-07-28  515.000000  213.059998  190.839996  510.119995  214.029999
2025-07-29  517.619995  210.820007  192.080002  511.559998  214.179993
2025-07-30  515.950012  207.720001  194.690002  509.440002  211.899994
2025-07-31  555.450012  207.160004  191.089996  531.900024  208.490005

Price                                 Volume
Ticker           GOOGL        MSFT      AAPL      GOOGL      MSFT
Date
2025-06-02  167.637059  457.140015  35423300   38612300  16626500
2025-06-03  167.287494  461.470001  46381600   45084900  15743800
2025-06-04  166.538388  464.000000  43604000   26900800  14162700
2025-06-05  170.134037  464.959991  55126100   36379100  20131700
2025-06-06  170.623441  470.089996  46607700   35731800  15285600
2025-06-09  174.539993  469.700012  72862600   28935900  16469900
2025-06-10  176.199997  471.190002  54672600   61766100  15375900
2025-06-11  179.770004  470.019989  60989900   31646800  16399200
2025-06-12  176.179993  475.019989  43904600   20941900  18950600
2025-06-13  172.440002  476.410004  51447300   27663100  16814500
2025-06-16  174.729996  475.209991  43020700   27389200  15626100
2025-06-17  175.699997  475.399994  38856200   24973000  15414100
2025-06-18  176.009995  478.000000  45394700   28707500  17526500
2025-06-20  173.949997  482.230011  96813500   75659900  37576200
2025-06-23  166.270004  478.209991  55814300   57671000  24864000
2025-06-24  166.919998  488.950012  54064000   40524300  22305600
2025-06-25  167.630005  492.040009  39525700   35479000  17495100
2025-06-26  172.429993  492.980011  50799100   31796700  21578900
2025-06-27  173.539993  497.549988  73188600  108140200  34539200
2025-06-30  180.779999  497.040009  91912800   63378900  28369000
2025-07-01  175.740005  496.470001  78788900   35904500  19945400
2025-07-02  175.539993  489.989990  67941800   29128900  16319600
2025-07-03  178.500000  493.809998  34955800   21689700  13984800
2025-07-07  179.059998  497.380005  50229000   34175600  13981600
2025-07-08  177.850006  497.239990  42848900   40442500  11846600
2025-07-09  175.250000  500.299988  48749400   43025600  18659500
2025-07-10  175.630005  503.049988  44443600   29252400  16492100
2025-07-11  176.789993  498.470001  39765800   34282900  16459500
2025-07-14  181.009995  501.519989  38840100   32536600  12058800
2025-07-15  182.809998  503.019989  42296300   33448300  14927200
2025-07-16  183.240005  505.179993  47490500   33104200  15154400
2025-07-17  182.139999  505.679993  48068100   31992600  17503100
2025-07-18  185.399994  514.479980  48974600   34014500  21209700
2025-07-21  186.250000  506.709991  51377400   45803100  14066800
2025-07-22  191.500000  510.970001  46404100   44660200  13868600
2025-07-23  191.500000  506.750000  46989300   58681900  16396600
2025-07-24  197.029999  508.769989  46022600   74881700  16107000
2025-07-25  191.979996  512.469971  40268800   39785900  19125700
2025-07-28  193.649994  514.080017  37858000   38139500  14308000
2025-07-29  192.429993  515.530029  51411700   41389200  16469200
2025-07-30  195.600006  515.169983  45512500   32445400  26380400
2025-07-31  195.710007  555.229980  80698400   51329200  51617300

In [86]:
df = pd.DataFrame(data[['Close', 'Volume']])
prices = data['Close']
prices.head()

Ticker            AAPL       GOOGL        MSFT
Date
2025-06-02  201.699997  168.825623  461.970001
2025-06-03  203.270004  165.979065  462.970001
2025-06-04  202.820007  167.846802  463.869995
2025-06-05  200.630005  168.006622  467.679993
2025-06-06  203.919998  173.469986  470.380005

In [87]:
print(prices.iloc[:,0])

Date
2025-06-02    201.699997
2025-06-03    203.270004
2025-06-04    202.820007
2025-06-05    200.630005
2025-06-06    203.919998
2025-06-09    201.449997
2025-06-10    202.669998
2025-06-11    198.779999
2025-06-12    199.199997
2025-06-13    196.449997
2025-06-16    198.419998
2025-06-17    195.639999
2025-06-18    196.580002
2025-06-20    201.000000
2025-06-23    201.500000
2025-06-24    200.300003
2025-06-25    201.559998
2025-06-26    201.000000
2025-06-27    201.080002
2025-06-30    205.169998
2025-07-01    207.820007
2025-07-02    212.440002
2025-07-03    213.550003
2025-07-07    209.949997
2025-07-08    210.009995
2025-07-09    211.139999
2025-07-10    212.410004
2025-07-11    211.160004
2025-07-14    208.619995
2025-07-15    209.110001
2025-07-16    210.160004
2025-07-17    210.020004
2025-07-18    211.179993
2025-07-21    212.479996
2025-07-22    214.399994
2025-07-23    214.149994
2025-07-24    213.759995
2025-07-25    213.880005
2025-07-28    214.050003
2025-07-29    211.270004
2025-07-30    209.050003
2025-07-31    207.570007
Name: AAPL, dtype: float64

In [88]:


weights = [0.3, 0.5, 0.2]  # Example weights for GOOGL, AAPL, MSFT

returns_df = prices.pct_change()

# Straightforward portfolio returns calculation
#returns_df['portfolio_check'] = returns_df.iloc[:,0] * 0.5 + returns_df.iloc[:,1] * 0.3 + returns_df.iloc[:,2] * 0.2


# Portfolio calculation with loop
portfolio_temp = []

for asset in assets:
    portfolio_temp.append(returns_df[asset] * weights[assets.index(asset)])

In [89]:
print(portfolio_temp[0])

Date
2025-06-02         NaN
2025-06-03   -0.005058
2025-06-04    0.003376
2025-06-05    0.000286
2025-06-06    0.009756
2025-06-09    0.004531
2025-06-10    0.004276
2025-06-11   -0.002100
2025-06-12   -0.002791
2025-06-13   -0.001759
2025-06-16    0.003607
2025-06-17   -0.001392
2025-06-18   -0.004484
2025-06-20   -0.011562
2025-06-23   -0.002610
2025-06-24    0.002869
2025-06-25    0.007034
2025-06-26    0.005027
2025-06-27    0.008626
2025-06-30   -0.003865
2025-07-01   -0.000664
2025-07-02    0.004777
2025-07-03    0.001495
2025-07-07   -0.004579
2025-07-08   -0.004124
2025-07-09    0.003888
2025-07-10    0.001699
2025-07-11    0.004341
2025-07-14    0.002281
2025-07-15    0.000727
2025-07-16    0.001599
2025-07-17    0.001000
2025-07-18    0.002419
2025-07-21    0.008170
2025-07-22    0.001957
2025-07-23   -0.001740
2025-07-24    0.003059
2025-07-25    0.001577
2025-07-28   -0.000932
2025-07-29    0.004938
2025-07-30    0.001195
2025-07-31   -0.007068
Name: GOOGL, dtype: float64

In [90]:
len(pd.concat(portfolio_temp, axis=1).sum(axis=1))

42

In [91]:
portfolio_returns = pd.concat(portfolio_temp, axis=1).sum(axis=1)
portfolio_returns.iloc[0] = np.nan
cumulative_returns = (1 + portfolio_returns).cumprod() - 1

In [92]:
cumulative_returns

Date
2025-06-02         NaN
2025-06-03   -0.000733
2025-06-04    0.001922
2025-06-05   -0.001555
2025-06-06    0.017525
2025-06-09    0.016998
2025-06-10    0.023639
2025-06-11    0.012405
2025-06-12    0.013327
2025-06-13    0.002895
2025-06-16    0.013306
2025-06-17    0.004332
2025-06-18    0.003166
2025-06-20    0.001658
2025-06-23    0.003898
2025-06-24    0.005487
2025-06-25    0.016608
2025-06-26    0.022446
2025-06-27    0.030849
2025-06-30    0.037960
2025-07-01    0.041737
2025-07-02    0.057886
2025-07-03    0.065570
2025-07-07    0.051231
2025-07-08    0.046582
2025-07-09    0.056371
2025-07-10    0.060490
2025-07-11    0.062752
2025-07-14    0.058657
2025-07-15    0.061849
2025-07-16    0.066128
2025-07-17    0.069404
2025-07-18    0.074254
2025-07-21    0.086341
2025-07-22    0.091335
2025-07-23    0.089059
2025-07-24    0.093556
2025-07-25    0.096799
2025-07-28    0.095696
2025-07-29    0.094021
2025-07-30    0.089867
2025-07-31    0.086911
dtype: float64

In [93]:
# Assets covariance matrix
W = np.array(weights)
portfolio_std = (W.dot(returns_df.cov()).dot(W)) ** (1/2)
print(portfolio_std)

0.00795585382490171

In [94]:
print(W)

[0.3 0.5 0.2]

In [95]:
returns_df.cov()

Ticker      AAPL     GOOGL      MSFT
Ticker
AAPL    0.000106  0.000003 -0.000012
GOOGL   0.000003  0.000215 -0.000013
MSFT   -0.000012 -0.000013  0.000079

In [99]:
returns_temp = []
for asset in assets:
        returns_temp.append(returns_df[asset] * weights[assets.index(asset)])

returns_for_matrix = pd.DataFrame(pd.concat(returns_temp, axis=1))
cov_matrix = returns_for_matrix.cov()
W = np.array(weights)
portfolio_std = (W.dot(returns_for_matrix.cov()).dot(W)) ** (1/2)
print(portfolio_std)

0.0028785063824997574

In [100]:
returns_for_matrix.head()

               GOOGL      AAPL      MSFT
Date
2025-06-02       NaN       NaN       NaN
2025-06-03 -0.005058  0.003892  0.000433
2025-06-04  0.003376 -0.001107  0.000389
2025-06-05  0.000286 -0.005399  0.001643
2025-06-06  0.009756  0.008199  0.001155

In [101]:
returns_for_matrix.cov()

              GOOGL          AAPL          MSFT
GOOGL  1.932921e-05  4.431821e-07 -7.525896e-07
AAPL   4.431821e-07  2.647574e-05 -1.205145e-06
MSFT  -7.525896e-07 -1.205145e-06  3.140541e-06